.home
  display: block
  vertical-align: middle
  padding: 30px
  background-color: #fff
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .05)
  border-radius: 6px
  h1
    text-align: center
  p
    text-align: center
    margin: 0
